@font-face {
    font-family: "Montserrat-medium";
    src: url(./fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: "Montserrat-thin";
    src: url(./fonts/Montserrat-Thin.ttf);
}
*{
    font-family: "Montserrat-Medium", Arial;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: rgb(241, 241, 241);
}
header{
    text-align: center;
    text-decoration-color: black;
    margin: 20px;
}
header ul{
    display: flex;
    justify-content: space-around;
    padding: 0 100px 0 100px;
}
.FR{
    background: rgb(148, 143, 143);
    border-radius: 20px; 
}
main{
    background: url(./img/bg.jpg) center/cover;
    height: 450px;
    text-align: center;
}
.logo{
    margin-top: 35px;
}
h2{
    font-family: "Montserrat-thin";
    text-align: center;
    color: white;
}
.button-main{
    letter-spacing: 2px;
    background: none;
    color: rgb(247, 238, 238);
    border: 1px solid rgb(250, 246, 246);
    padding: 15px;
    margin-top: 35px;
    font-size: 0.8rem;
}
.P1{
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    margin: 40px auto;
}
.main-section{
    display: flex;
    background: rgb(15, 15, 15);
    color: white;
    padding: 100px 100px 100px 100px;
    justify-content: space-around;
    text-align: center;
}
.P2{
    margin: 15px 15px 15px 15px;
}
.P3{
    margin: 15px 15px 15px 15px;
}
.P4{
    margin: 15px 15px 15px 15px;
}
.btn-left{ 
    letter-spacing: 2px;
    background: none;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(250, 246, 246);
    padding: 5px;
    margin: 0px;
    font-size: 0.8rem;
}
.btn-middle{
    letter-spacing: 2px;
    background: none;
    color: rgb(247, 238, 238);
    border: 1px solid rgb(250, 246, 246);
    padding: 5px;
    margin: 0px;
    font-size: 0.8rem;
}
.btn-right{
    letter-spacing: 2px;
    background: none;
    color: rgb(247, 238, 238);
    border: 1px solid rgb(250, 246, 246);
    padding: 5px;
    margin: 0px;
    font-size: 0.8rem;
}
/****************************** Media ***************************/
.section-2{
    color: rgb(3, 3, 3);
    margin: 80px 200px 60px 0;
    display: flex;
    justify-content: space-around;
}
.News{
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 5px;
    left: 10%;
    margin: 0 0 10px 0;
}
.btn-right2 {
    display: flex; 
    border: 1px solid rgb(0, 0, 0);
    background: none;
    padding: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}
 /****************************** 3 photos ***************************/

.section-3{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin:  90px 8%;
}
.section-3 p{
        display: flex;
        justify-content: space-between;
        text-align: center;
        font-size: 0.8rem;
        max-width: 255px;
        align-items: center;
    }
    .section-3 button{
        border: none;
        background: none;
        color: #CD3BD3;
    }
    .img-middle{
        max-width: 255px;
    }
    .img-right{
        max-width: 255px;
    }
    /******************************* footer *****************************/
footer{
    background: white;
}
.footer-1{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 90px 150px;

}
.footer-1 p{
    font-size: 0.8rem;
}
.infos ul{
    padding: 20px 0;
    font-size: 0.8rem;
    line-height: 30px;
}
.parents p{
    padding: 20px 0;
}
.parents button{
    background: white;
    border: none;
    color: #CD3BD3;
    font-size: 0.7rem;
}
#contact-h4{
    text-transform: uppercase;
}
.Contact ul{
    padding: 15px 0px;
    line-height: 25px;
    font-size: 0.9rem;
}
#logo-réseau{
  text-transform: uppercase;
}
.logo-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.logo-p{
    padding-top: 60px;
    font-size: 0.7rem;
}
.footer-2{
    display: flex;
    margin: 30px;
}
#titre-footer-bas{
    text-transform: uppercase;
}

.footer-bas{
    margin-left: 150px;
    line-height: 30px;
    width: 30%;
}
.footer-presse{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 70%;
    margin-right: 130px;
}
.footer-3{
    background: rgb(7, 7, 7);
    padding: 20px 0px 60px 0px;
}
#titre-footer{
    text-align: center;
    color: white;
    margin-top: 40px;
}
.footer-officiels{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 80px;
}

/************************ RESPONSIVE **********************/
@media (max-width: 1250px){
.footer-2{
    display: block;
}
}
@media (max-width: 1120px ){
    .footer-1{
        display: block;
    }
    .logo-footer{
        display: block;
    }
}
@media ( max-width: 1050px){
    .section-3{
        display: block;
        align-items: center;
    }
}



