@font-face {
    font-family: "Montserrat-medium";
    src: url(./fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: "Montserrat-thin";
    src: url(./fonts/Montserrat-Thin.ttf);
}
*{
    font-family: "Montserrat-Medium", "Montserrat-thin", Arial;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: rgb(241, 241, 241);
}
header{
    text-align: center;
    text-decoration-color: black;
    margin: 20px auto;
}
header ul{
    display: flex;
    justify-content: space-around;
}
header a{
    text-decoration: none;
    color: black;
}
.FR{
    background: rgb(148, 143, 143);
    border-radius: 20px; 
    padding: 2px 3px;
}
main{
    background: url(./img/bg.jpg) center/cover;
    height: 450px;
    text-align: center;
}
.logo{
    margin-top: 35px;
}
h2{
    font-family: "Montserrat-thin";
    text-align: center;
    color: white;
}
.button-main{
    margin: 30px auto;
}
.button-main a{
    letter-spacing: 2px;
    background: none;
    color: rgb(247, 238, 238);
    border: 1px solid rgb(250, 246, 246);
    padding: 15px;
    font-size: 0.8rem;
    text-transform: uppercase;
    text-decoration: none;
}
.P1{
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    margin: 40px auto;
}
.main-section{
    background: rgb(15, 15, 15);
    color: white;
    padding: 100px 0; 
}
.main-1{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.main-1 p{
    margin: 15px 30px;
    font-size: 0.9rem;
    text-align: center;
}
.main-section a{
    text-decoration: none;
}
.btn-left a{ 
    letter-spacing: 2px;
    background: none;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(250, 246, 246);
    padding: 5px;
    margin: 0px;
    font-size: 0.8rem;
}
.btn-middle a{
    letter-spacing: 2px;
    background: none;
    color: rgb(247, 238, 238);
    border: 1px solid rgb(250, 246, 246);
    padding: 5px;
    margin: 0px;
    font-size: 0.8rem;
}
.btn-right a{
    letter-spacing: 2px;
    background: none;
    color: rgb(247, 238, 238);
    border: 1px solid rgb(250, 246, 246);
    padding: 5px;
    margin: 0px;
    font-size: 0.8rem;
}
/****************************** Media ***************************/
.section-2{
    color: rgb(3, 3, 3);
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
.Les-News{
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 5px;
    
}
.btn-right2 a{
    display: flex; 
    border: 1px solid rgb(0, 0, 0);
    color: black;
    background: none;
    padding: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}
 /****************************** 3 photos ***************************/

.News{
    background: rgb(241, 241, 241);
    margin: 100px 0;
    
}
.Main-news{
    display: flex;
    justify-content: space-around;
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
}
.Main-news > div{
    width: 20%;
    padding-bottom: 40px;
   
}
.Main-news img{
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(136, 136, 136);
}
.Main-news h3{
    font-size: 1rem;
    margin: 15px auto;
}
.Main-news  p{
    width: 100%;
    line-height: 15px;
    font-size: 0.8rem;
    letter-spacing: 0;
}
.link a{ 
    bottom: 0;
    font-size: 0.8rem;
    color: #bb37c0;
    position: absolute;
    letter-spacing: none;
    font-weight: bold;
    text-decoration: none;
}

    /******************************* footer *****************************/
footer{
    background: white;
}
.footer-1{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 90px 0;
    margin: 20px auto;

}
.footer-1 p{
    font-size: 0.8rem;
}
.infos ul{
    padding: 20px 0;
    font-size: 0.8rem;
    line-height: 30px;
    color: #3745c0;
}
.parents p{
    padding: 20px 0;
}
.link-parents a{
    background: white;
    border: none;
    color: #CD3BD3;
    font-size: 0.7rem;
    text-decoration: none;
}
.link-footer a{
    text-decoration: none;
}
#contact-h4{
    text-transform: uppercase;
}
.Contact ul{
    padding: 15px 0px;
    line-height: 25px;
    font-size: 0.9rem;
}
#logo-réseau{
  text-transform: uppercase;
}
.logo-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.logo-p{
    padding-top: 60px;
    font-size: 0.7rem;
}
.footer-2{
    display: flex;
    margin: 30px;
}
#titre-footer-bas{
    text-transform: uppercase;
}

.footer-bas{
    margin-left: 150px;
    line-height: 30px;
    width: 30%;
    padding-right: 20px;
}
.footer-presse{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 70%;
    margin-right: 130px;
}
.footer-3{
    background: rgb(7, 7, 7);
    padding: 20px 0px 60px 0px;
}
#titre-footer{
    text-align: center;
    color: white;
    margin-top: 40px;
}
.footer-officiels{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
}


/********************* Hover **********************/


  .button-main a:active {
    transform: scale(5);
    background: rgb(2,0,36);
    background: linear-gradient(83deg, rgba(2,0,36,1) 2%, rgba(234,82,94,0.9192051820728291) 45%, rgba(242,139,90,1) 85%, rgba(243,150,89,1) 100%);
    border-radius: 10px;
}
.main-1 a:active{
    background: rgb(2,0,36);
background: linear-gradient(83deg, rgba(2,0,36,1) 2%, rgba(234,82,94,0.9192051820728291) 45%, rgba(242,139,90,1) 85%, rgba(243,150,89,1) 100%);
border-radius: 10px;
}
.btn-right2 a:active {
    background: rgb(2,0,36);
background: linear-gradient(83deg, rgba(2,0,36,1) 2%, rgba(234,82,94,0.9192051820728291) 45%, rgba(242,139,90,1) 85%, rgba(243,150,89,1) 100%);
border-radius: 10px;
}
.link a:hover{
    border: 1px solid purple;
    border-radius: 10px;
    padding: 5px;
}
header li:hover{
    background: linear-gradient(83deg, rgba(2, 0, 36, 0.603) 2%, rgba(234,82,94,0.9192051820728291) 45%, rgba(242,139,90,1) 85%, rgba(243,150,89,1) 100%);
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
}
/************************ RESPONSIVE **********************/

@media (max-width: 1320px){
.footer-presse{
    flex-wrap: wrap;
}
.footer-officiels{
    flex-wrap: wrap;
}
}
@media (max-width: 1100px){
.Main-news{
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 10px auto;
}
.Main-news div{
    width: 80%;
    margin: 10px auto;
}
.Main-news a{
    position: relative;
}
}
@media (max-width: 1000px){
header ul{
    font-size: 0.8rem;
    flex-wrap: wrap;
}
}
@media (max-width: 850px){
    .footer-bas{
        margin: 0;
        padding-right: 10px;
    }
}
@media (max-width: 800px){
    .footer-1{
        margin: 0 auto;
        flex-wrap: wrap;
    }
}
@media (max-width: 800px){
.main-1{
    flex-direction: column;
}    
.main-1 h3{
    margin: 20px auto;
}
.main-1 p{
    margin: 20px 100px;
}
.main-1 div{
    margin: 20px auto;
}
.section-2{
        flex-direction: column;
        padding: 20px auto;
        text-align: center;
        align-items: center;
    }
}
@media (max-width: 690px){
header ul{
    font-size: 0.8rem;
    flex-wrap: wrap;
}
}



/*********************** RESPONSIVE MOBILE **************/
@media (max-width: 600px){
    header{
        display: none;
    }
    .P1{
        padding: 10px;
        line-height: 25px;
    }
    main img{
        width: 60%;
    }
    main h2{
        text-align: center;
        margin: 15px 20px;
    }
    .section-2{
        flex-direction: column;
    }
    .main-section h3{
        margin: 20px auto;
    }
    .main-1{
        display: block;
        justify-content: space-around;
        margin:  20px;
    }
    .main-1 div{
        margin: 20px auto;
    }
    
    .main-left h5{
    font-size: 0.9rem;
    font-weight: normal;
    text-align: left;
    }
    
    .btn-right2 a{
        margin: 15px auto;
     align-items: center;
     font-size: 0.8rem;
    }
    .Main-news{
        display: block;
    }
    .Main-news  div{
        width: 80%;
        text-align: center;
        align-items: center;
    }
    .Main-news p{
        text-align: left;
        display: block;
    }
    .Main-news > img{
        align-items: center;
        margin: 10px auto;
    }
    .Main-news a{
        position: relative;
    }
    .footer-1{
        display: none;
    }
    .footer-2{
        display: none;
    }
    .main-section{
        flex-direction: column;
    }
    footer-3{
        padding: 15px auto;
        margin: 0 auto;
        width: 600px;
    }
    #titre-footer {
        margin: 0 auto;
    }
    .footer-officiels{
        margin: 0 auto;
    }
}




